* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;
  --fs-heading: 4.8rem;
  --fs-texting: 1.8rem;
  --fs-button: 1.4rem;
  --fs-nav-menu: 2.2rem;
  --fc-primary: #FFFFFF;
  --fc-texting-heading: #E1E1E6;
  --fc-nav-inactive: #8D8D99;
  --fc-btn-hover: #02799D; 
  --fw-heading: 700;
  --fw-texting: 400;
  --lh-heading: 125%;
  --lh-texting: 160%;
  --btn-padding: 1.2rem 3.2rem;
  --btn-b-radius: 0.5rem;
  --btn-border: 2px solid var(--fc-primary);
  --btn-hover-bkg: var(--fc-primary);
  --nav-height: 12.2rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-texting);
  background-color: #272323;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: 7.2rem;
  height: 100vh;
  width: 100vw;
}

#app {
  width: 100%;
  height: calc(100% - var(--nav-height));
  display: grid;
}

nav {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.3rem;
}

nav a {
  font-size: var(--fs-nav-menu);
  font-weight: var(--fw-texting);
  color: var(--fc-nav-inactive);
  text-decoration: none;
}

.menu-item.selected {
  font-weight: var(--fw-heading);
  color: var(--fc-primary);
}

a:hover {
  font-weight: var(--fw-heading);
  color: var(--fc-primary);
}

.home {
  display: grid;
  justify-items: center;
  align-self: center;
  gap: 2.4rem;
}

.content {
  padding: 6.3rem 3rem;
  display: grid;
  justify-items: left;
  align-items: stretch;
  gap: 1.6rem;
  height: 43.3rem;
  border: 1px solid red;
}

.content p {
  font-size: var(--fs-texting);
  font-weight: var(--fw-texting);
  color: var(--fc-texting-heading);
  line-height: var(--lh-texting);
  max-width: 65rem;
}

h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-heading);
  line-height: var(--lh-heading);
  color: var(--fc-texting-heading);
}

button {
  padding: var(--btn-padding);
  border: var(--btn-border);
  border-radius: var(--btn-b-radius);
  color: var(--fc-primary);
  background: transparent;
  font-size: var(--fs-button);
  font-weight: var(--fw-heading);
  width: fit-content;
}

button:hover {
  color: var(--fc-btn-hover);
  background-color: var(--fc-primary);
  cursor: pointer;
}